services:
  web:
    build: .
    container_name: eventmanager_web
    env_file: 
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: always
    
  redis:
    image: redis:7
    container_name: eventmanager_redis
    ports:
      - "6379:6379"
    restart: always

  celery:
    build: .
    container_name: eventmanager_celery
    command: celery -A EventManager worker --loglevel=info
    env_file: 
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
    restart: always

  celery-beat:
    build: .
    container_name: eventmanager_celery_beat
    command: celery -A EventManager beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file: 
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
    restart: always

